div#imagen{
	width: 100%;
	height: 100%;
	margin: 0px;
					/*se le quito el "background-image: url();" y se le añadio position: relative;"***/
	position: relative;
			}

div#info{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: rgba(31,31,31, 0.9);
	-webkit-transition:opacity 0.2s;
	opacity: 0;
	top: 0;											/*Esto fue añadido del còdigo original***/
}

div#imagen:hover div#info{
	opacity: 0.5;
}

p#headline{
	position: absolute;
	margin-top: 5%;
	-webkit-transition:margin 0.5s;
	margin-left: -15%;
	font-size: 1.5em;
	color: white;
}
div#imagen:hover p#headline{
	margin-left: 15%;

}

p#info2{
	position:absolute;
	width: 100%;
	text-align:center;
	-webkit-transition:margin 0.8s;
	margin-top: 40%;
	color: white;
}
div#imagen:hover p#info2{
	margin-top: 35%;
}