/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}*/


.CapaTransp{
	/*background-image: url(../img/1.jpg);*/
	/*width: 100%;
	height: 600px;
	background-size: cover;
	position: relative;*/

/**para acomodar las letras**/
	/*display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center;*/
}

/**Seudoelementos**/

.CapaTransp:before{
	content: "";
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	opacity: 0.5;
}

/**para que las letras no aparescan en el fondo**/
.CapaTransp h1, h4{
z-index: 1; /**Se pueden extraer las letras con "z-index" o con "position:relative"**/
color: white;
}

/*.CapaTransp h1{
	font-size: 60px;
	font-family: "arial", sans-serif;


}
.CapaTransp h4{
	font-size:25px;
	font-family: "arial",sans-serif;
	width: 60%;
	text-align:center;
}*/

.marketing{
	margin-top: 100px;
}
.imgBackGround {
	content: "";
	width: 100%;
	height: 100%;
	background-image: url(../img/BackGround3.jpg);

	opacity: 0.9;
}




/*.CapaTransp{
filter: brightness(50%);
}
.CapaTransp2{
filter: brightness(60%);
}*/

/*.Adjust{ .carousel-inner .carousel-item picture 
	width: 100%;
	height: 100%;
	object-fit: cover !important;

}*/


/*@media (min-width: 40em) {
  .Adjust{ 
	object-fit: all !important;
}
  }*/

 .BannerCapaTransp{

 	background-image: url(../img/1.jpg);
	width: 100%;
	height: 600px;
	background-size: cover;
	position: relative;

/**para acomodar las letras**/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }

 .BannerCapaTransp:before{
	content: "";
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	opacity: 0.8;
}

/**para que las letras no aparescan en el fondo**/
.BannerCapaTransp h1, h4{
z-index: 1; /**Se pueden extraer las letras con "z-index" o con "position:relative"**/
color: white;
}

.BannerCapaTransp h1{
	font-size: 60px;
	font-family: "arial", sans-serif;


}
.BannerCapaTransp h4{
	font-size:25px;
	font-family: "arial",sans-serif;
	width: 60%;
	text-align:center;
}