/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}*/


.CapaTransp{
	/*background-image: url(../img/1.jpg);*/
	/*width: 100%;
	height: 600px;
	background-size: cover;
	position: relative;*/

/**para acomodar las letras**/
	/*display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center;*/
}

/**Seudoelementos**/

.CapaTransp:before{
	content: "";
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	opacity: 0.5;
}

/**para que las letras no aparescan en el fondo**/
.CapaTransp h1, h4{
z-index: 1; /**Se pueden extraer las letras con "z-index" o con "position:relative"**/
color: white;
}

/*.CapaTransp h1{
	font-size: 60px;
	font-family: "arial", sans-serif;


}
.CapaTransp h4{
	font-size:25px;
	font-family: "arial",sans-serif;
	width: 60%;
	text-align:center;
}*/

.marketing{
	margin-top: 100px;
}
.imgBackGround {
	content: "";
	width: 100%;
	height: 100%;
	background-image: url(../img/BackGround3.jpg);

	opacity: 0.9;
}




/*.CapaTransp{
filter: brightness(50%);
}
.CapaTransp2{
filter: brightness(60%);
}*/

/*.Adjust{ .carousel-inner .carousel-item picture 
	width: 100%;
	height: 100%;
	object-fit: cover !important;

}*/


/*@media (min-width: 40em) {
  .Adjust{ 
	object-fit: all !important;
}
  }*/

 .BannerCapaTransp2{
 	height: 0;	/*Responsive*/
			overflow: hidden; /*Responsive*/
			padding-bottom: 56.25%; /*Responsive*/
			padding-top:30px; /*Responsive*/
			position: relative; /*Responsive*/
 	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/1.jpg);

	/*width: 100%;
	height: 600px;*/
	background-size: cover;
	position: relative;

 }

/*Inicio Para agregar la imagen de extremo a extremo (En caso de no querer la imagen borrar todo lo que esta entre el inicio y el fin de este comentario)*/
 .BannerCapaTransp1{
 	height: 0;	/*Responsive*/
			overflow: hidden; /*Responsive*/
			padding-bottom: 56.25%; /*Responsive*/
			padding-top:30px; /*Responsive*/
			position: relative; /*Responsive*/
 	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/2.jpg);

	/*width: 100%;
	height: 600px;*/
	background-size: cover;
	position: relative;

 }
/*Inicio Para agregar la imagen de extremo a extremo (En caso de no querer la imagen borrar todo lo que esta entre el inicio y el fin de este comentario)*/

@media (max-width: 20.5em) {
 .Banner-h1{
 	padding-top: 6% !important;
 	font-size: 1em !important;
 	color:white;
 }
.Banner-p{
	font-size: 0.5em !important;
	padding-bottom: 20% !important;
	color:white;
}
}

@media (max-width: 28em) {
 .Banner-h1{
 	padding-top: 6% !important;
 	font-size: 1.8em !important;
 	color:white;
 }
.Banner-p{
	font-size: 0.8em !important;
	padding-bottom: 20% !important;
	color:white;
}
}


@media (min-width: 28em) {
.Banner-h1{
 	padding-top: 8% !important;
 	color:white !important;
 }
.Banner-p{
	padding-bottom: 20% !important;
	color:white !important;
	text-align: center;
	font-size: 1.2em !important;
}
	}

@media (min-width: 50em) {
.Banner-h1{
 	color:white !important;
 	font-size: 4em !important;
 }
.Banner-p{
	color:white !important;
	text-align: center;
	font-size: 1.5em !important;
}
	}