
nav a img{
	padding-top: 20px;
margin-top: -50px;
margin-bottom: -80px;
margin-right: 10px;
}

/*.textlogo16{
	color:red;
}*/
.textlogo1{
font-family: 'Audiowide', cursive;
}
.textlogo2{
font-family: 'Bangers', cursive;
}
.textlogo3{
font-family: 'Bebas Neue', cursive;
}
.textlogo4{

font-family: 'Cinzel Decorative', cursive;
}
.textlogo5{
font-family: 'Fredoka One', cursive;
}
.textlogo6{
font-family: 'Germania One', cursive;
}
.textlogo7{
font-family: 'Hanalei', cursive;
}
.textlogo8{
font-family: 'Herr Von Muellerhoff', cursive;
}
.textlogo9{

font-family: 'Kristi', cursive;
}
.textlogo10{
font-family: 'Major Mono Display', monospace;
}
.textlogo11{
font-family: 'Monoton', cursive;
}
.textlogo12{
font-family: 'Orbitron', sans-serif;
}
.textlogo13{
font-family: 'Petit Formal Script', cursive;
}
.textlogo14{
font-family: 'Plaster', cursive;
}
.textlogo15{
font-family: 'Yellowtail', cursive;
}

.textlogo16{
font-family: 'Sedgwick Ave Display', cursive;
}

.textlogo17{
font-family: 'Roboto', sans-serif;
}

.TextoSlider{
font-family: 'Roboto', sans-serif !important;
}
.TextoSlider h1{
	font-style: bold;
}
