	

	.row .col-lg-4 h2{
		color:black;
		font-style: bold;
	}


	  /*!important*/
/*.TextoSlider{
	margin-bottom:250px;
}*/

/*@media (min-width: 40em) {
  .carousel-inner .carousel-item picture img{
  	background-image: url(../img/Sliderb);
  }
  }*/

