
		
		.content{
			text-align: center;
				}
		.videopopup{
			height: 0;	/*Responsive*/
			overflow: hidden; /*Responsive*/
			padding-bottom: 56.25%; /*Responsive*/
			padding-top:30px; /*Responsive*/
			position: relative; /*Responsive*/

			background-image: url(../img/imgVideo.jpg);
			background-color: black;
			/*width: 	70%;*/
			background-size:cover;	
			background-repeat: no-repeat;
			font-family: tahoma;
			/*background: transparent;*/
			}
			
			

			.videopopup:hover {
									opacity: 1;
									transition: 0.5s;
									transform: translateY(-5px);

								}

		.mfp-hide{
			display: none !important;
				}


		.button{
			padding: 20px 40px;
			border-color: white;
			font-size: 17px;
			font-size: 1.7rem;
			font-family: tahoma;
			font-weight: bold;
			margin-top: 40px;
			display: inline-block;
				}


		.button{
			border:2px solid white;
			color:black;
			text-transform: uppercase;
			transition: all 0.5s ease-in-out;
			border-radius: 50px;
			background:white;
			font-weight: bold;
				}	

			.button{
					margin-bottom: 	8%;
				margin-left: {
					margin-left:20px;
							}
					}
				

			.button:hover, .button:focus{
								background: transparent;
								text-decoration: none;
								color:white;
								font-weight: bold;
								outline: none;

										}
			#txtPopup{
				color: black;
				font-size: 50px;
				font-family: arial;
				font-weight: bold;
				line-height: 72px;
				letter-spacing: 2px;
				margin: 100px 0 0 0;

			}

			iframe{
					margin-left: 80px;
					height: 100%; /*Responsive*/
					left: 0; /*Responsive*/
					position: absolute; /*Responsive*/
					top: 0; /*Responsive*/
					width:0; /*Responsive*/	
					}
			button.mfp-close{
					overflow: visible;
					cursor: pointer;
					background: white;
					border:0;
					-webkit-appearance:none;
					display: block;
					outline: 0;
					padding: 0;
					z-index: 1046;
					box-shadow: none;

					}

			.mfp-close{
				width: 44px;
				height: 44px;
				border-radius: 50px;
				line-height: 44px;
				position: absolute;
				right: 40px;

			}
				

/*prueba borrar si no se asegura*/
 
/*@media screen and (max-width:992px){
 	h1{
 		font-size: 37px;
 	}

 	h5{
 		font-size: 34px;
 	}
 	p{
 		font-size: 20px;
 	}

 	.conten p{
 		font-size: 18px;
 	}
 	
 	
 }
 @media screen and (max-width:600px){
 	h1{
 		font-size: 20px;
 	}

 	h5{
 		font-size: 12px;
 	}
 	p{
 		font-size: 15px;
 	}

 	.icon-block .light{
 		font-size: 15px;
 	}
 	img {
 		height: 80px;
 		width: 80px;
 		margin: 20px;
	padding: 2px;
	margin-top: auto;
	margin-bottom: auto;
	box-sizing: border-box;
 	}
 	.cf{
 			
 		position: absolute;

 		
 	}
 	
 }

@media screen and (max-width:302px){
 	h1{
 		font-size: 20px;

 		}
 	h5{
 		font-size: 18px;
 	}
 	img {
 		height: 53px;
 		width: 53px;
 		margin-top: 20px;

 	}
 	.cf{
 		position: absolute;
 		font-size: 15px;
 	}
	}
	 @media screen and (max-width:246px){
	 	img {
 		height: 45px;
 		width: 45px;
 		margin-left: 	30px;
	padding: 2px;
	margin-top: 28px;
	box-sizing: border-box;
 	}
 	.cf{
 		position: absolute;
 		
 	}
 }
 @media screen and (max-width:196px){
 	h1{
 		font-size: 10px;
 	}
 	h5{
 		font-size: 9px;
 	}
 	p{
 		font-size: 7px;
 	}
 	.icon-block .light{
 		font-size: 7px;
 	}
 	#logo-container .material-icons{
 		position: absolute;
 	}
 	img {
 		height: 45px;
 		width: 45px;
 		margin-left: 	0px;
	padding: 2px;
	margin-top: 28px;
	box-sizing: border-box;

 	}
 	.cf{
 		position: absolute;

 		
 	}

 }
   @media screen and (max-width:196px){
 	h1, h5, .icon-block .light{
 		font-size: 7px;
 		text-align: center;
 	}
 
 }*/
  @media screen and (max-width:86px){
 	
 	.row .col-md-1 .col-md-10 .content {
 		
				width: 	70%;
			max-height: 100px;
 	}
}

